<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries><intent><action android:name="android.intent.action.TTS_SERVICE" /></intent></queries>
    <application android:theme="@style/AppTheme" android:label="CAN 采集播报器" android:allowBackup="true">
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
